<div class="masthead">
  <ul class="language-nav">
    <a href="#">CSS</a>
    <a href="#">HTML</a>
    <a href="#">Javascript</a>
    <a href="#">Ruby</a>
  </ul>

  <img class="logo" src="assets/AA_Times_Logo.png" />

  <ul class="masthead-links">
    <li>
      <time>Tuesday, October 18, 2016</time>
    </li>
    <li>
      <i class="far fa-newspaper"></i>
      <a href="#">Today’s Paper</a>
    </li>
    <li>
      <i class="fas fa-video"></i>
      <a href="#">Video</a>
    </li>
    <li>
      <button type="button" name="Degrees">77°F</button>
    </li>
    <li>
      <button type="button" name="Stock">AAO</button><strong>+100%</strong>
    </li>
  </ul>
</div>
